{% extends 'base.html' %}
  {% block sub_content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/login.css">
        <title>Halaman Login Admin</title>
    </head>
    <body>
        <div class="container">
            <h1>Login</h1>
            <div class = "input-group"></div>
                <form method="post">
                    <label>Username</label><br>
                    <input type="text" name="username"><br><br>
                    <label>Password</label><br>
                    <input type="password" name = "password"><br><br>
                    <button>Log in</button>
                </form>
        </div>
        
    </body>
</html>
{% endblock %}