{% extends 'base.html' %}
  {% block sub_content %}
  <center>
  <font face="Times New Roman"></font>
  <h3> WELCOME TO PASTI SAMPAI EXPRESS WEBSITE</h3>
  <h4>Pasti Antar Bisa Membantu Anda Dalam Jasa Pengiriman Barang Kapanpun Dan Dimanapun</h4><br><br>
  <img src="https://mediakonsumen.com/files/2017/03/iilustrasi-paket-kurir-kargo-kiriman.jpg" width="650" height="400"/><br><br>
  <h4>Dibuat untuk memenuhi tugas akhir mata kuliah Basis Data dan Sistem Basis Data</h4>
  <h5>2107617(Muhamad Fajar Imanul Haq), 2103022(Yohanes Adi Nugroho), 2103219(Tiara Yusti Dinanti)</h5>
  </font>
  </center>
  {% endblock %}